<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="vontainer">
    <%= link_to "OLE App", root_path, {id: "logo"} %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "HELP", help_path %></li>
        <li><%= link_to "LOG IN", '#' %></li>
      </ul>
    </nav>
  </div>
</header>